$starWarsColor:#FFE81F;
@font-face {
    font-family: 'Star Jedi';
    src: url('../../../public/fonts/Starjedi.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
@font-face {
    font-family: 'Star out';
    src: url('../../../public/fonts/Starjout.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }
